[submodule "toolchain/opensbi"]
	path = toolchain/opensbi
	url = git@github.com:riscv-software-src/opensbi.git
[submodule "toolchain/u-boot"]
	path = toolchain/u-boot
	url = git@github.com:riscv-software-src/opensbi.git
